<div ng-controller="ReviewController" ng-init="getReviews(product)">

	<div>
		<h3 ng-show="averageReview.averageReview">Average Customer Review: {{averageReview.averageReview}}</h3>
		<h4 ng-hide="averageReview.averageReview">No reviews yet, be the first one to review!</h4>
		<button class="btn btn-primary btn-sm" type="button" ng-click="setRating(0)" ng-hide="isRating(0)">See all reviews!</button>
		<div ng-repeat="(key, value) in averageReview.starsToUsersMap">
			<div>
				<b><ng-pluralize count="key" when="{1: '1 Star', 'other': '{} Stars'}"></ng-pluralize></b>
				from <ng-pluralize count="value" when="{1: '1 User', 'other': '{} Users'}"></ng-pluralize>
			</div>
			<div class="progress">
				<a href=""><div class="progress-bar" role="progressbar" style="width:{{(value*100)/reviews.length}}%" ng-click="setRating(key)">
					{{ (value * 100 / reviews.length) | number:0 }}%
				</div></a>
			</div>
		</div>
		

		<ul class="list-group">
			<div ng-repeat="review in reviews">
			<li class="list-group-item" ng-show="rating === 0 || isRating(review.stars)">
					<button class="btn btn-danger btn-sm pull-right" ng-click="deleteReview(product, review)">Delete</button>
					<b>{{review.stars}} Stars</b>
					<p>{{review.body}}</p>
					<b><cite>- {{review.author}}</cite></b>
				</li>
			</div>
		</ul>

		<button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="[name='form-{{product.id}}']">
			<span class="glyphicon glyphicon-plus"></span> Add Review 
		</button>


		<div name="form-{{product.id}}" class="collapse">
			<form role="form" class="form-horizontal" name="reviewForm" ng-submit="reviewForm.$valid && addReview(product)" novalidate>
				<div>
					<b>{{review.stars}} <span ng-show="review.stars">Stars</span></b>
					<p>{{review.body}}</p>
					<cite><span ng-show="review.author">-</span> {{review.author}}</cite>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">Rating:</label>
					<select class="col-sm-5" ng-model="review.stars" required>
						<option value={{option}} ng-repeat="option in [1,2,3,4,5]">{{option}} Stars</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">Review:</label>
					<textarea class="col-sm-5" rows="'5'" ng-model="review.body" placeholder="Type your review here" required></textarea>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-1">Author:</label>
					<input class="col-sm-5" ng-model="review.author" placeholder="Enter your name" required></input>
				</div>
				<button class="btn btn-primary btn-sm" type="submit" ng-disabled="reviewForm.$invalid">Submit Review</button>
			</form>
		</div>
	</div>