<h1>Add New Gem</h1>
<div id="addProductSection">

	<div ng-include="'../templates/gems/sections/content.html'"></div>
	<div ng-include="'../templates/gems/sections/panel.html'"></div>


	<form class="form-horizontal" role="form" name="addProductForm" novalidate>

		<div class="form-group">
			<label class="control-label col-sm-2">Name: </label>
			<input class="col-sm-5" ng-model="product.name" placeholder="Enter Gem name" required></input>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Price: </label>
			<input class="col-sm-5" ng-model="product.price" placeholder="Enter Gem price" required></input>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Image URL: </label>
			<input class="col-sm-5" ng-model="product.image" placeholder="Enter Image URL" required></input>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Description: </label>
			<input class="col-sm-5" ng-model="product.description" placeholder="Enter Gem description" required></input>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Specifications: </label>
			<input class="col-sm-5" ng-model="product.specifications" placeholder="Enter Gem specifications" required></input>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Quantity: </label>
			<input class="col-sm-5" ng-model="product.quantity" placeholder="Enter Gem quantity" required></input>
		</div>
		<button type="button" class="btn btn-primary btn-lg" ng-click="addProduct()">Add Gem</button>
	</form>
</div>