<h1>List Page</h1>

<div class="form-group">
	<label>Search:</label>
	<input type="text" class="form-control" ng-model="searchText">
</div>

<div class="form-group">
	<label for="sel1">Sort By:</label>
	<select class="form-control" ng-model="option" ng-options="item for item in sortByOptions">
	</select>
</div>

<div ng-include="'../templates/gems/sections/page-spinner.html'"></div>

<button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="[name='gem-search']">
	<span class="glyphicon glyphicon-search"></span> Advanced Search
</button>

<div name="gem-search" class="collapse">
	<div class="form-group">
		<label>Name:</label>
		<input type="text" class="form-control" ng-model="query.name" ng-change="getByQuery(query)" ng-model-options="{debounce: 1000}">
		<label>Min Price:</label>
		<input type="text" class="form-control" ng-model="query.minPrice" ng-change="getByQuery(query)" ng-model-options="{debounce: 1000}">
		<label>Max Price:</label>
		<input type="text" class="form-control" ng-model="query.maxPrice" ng-change="getByQuery(query)" ng-model-options="{debounce: 1000}">
		<label>Customer Rating Above:</label>
		<input type="text" class="form-control" ng-model="query.rating" ng-change="getByQuery(query)">
	</div>
</div>

<div class="list-group" ng-init="getAll()">
	<div ng-repeat="product in products | filter:searchText | orderBy:getSortBy(option)">
		<div class="list-group-item">
			
			<div ng-include="'../templates/gems/sections/content.html'"></div>
			<div ng-include="'../templates/gems/sections/soldout-message.html'"></div>
			
			<button class="btn btn-danger btn-lg" ng-hide="product.soldOut" data-toggle="modal" data-target="#checkoutModal-{{product.id}}">One Click Checkout</button>
			
			<button class="btn btn-info btn-lg" ng-hide="product.soldOut || product.inCart" ng-click="addToCart(product)">Add to Cart</button>
			
			<span ng-show="!product.soldOut && product.inCart" class="alert alert-success">
				<strong>Added to Cart!</strong>
			</span>
			
			<div ng-include="'../templates/gems/sections/checkout-modal.html'"></div>
			
			<button class="btn btn-danger btn-lg pull-right" ng-click="deleteProduct(product)">Delete</button>
			
			<div ng-include="'../templates/gems/sections/panel.html'"></div>

		</div>
	</div>
	<div ng-show="products.length === 0">
		<h3>This is a rare sight! <br/> Our store is empty, please check back later.</h3>
	</div>
	<div ng-include="'../templates/gems/sections/success-message.html'"></div>
</div>



