<h1>Shopping Cart</h1>

<div class="list-group" ng-init="getProductsInCart()">
	<div ng-repeat="product in productsInCart">
		<div class="list-group-item">
			<h3>
				<span>{{product.name}}</span> 
				<div class="pull-right">{{product.price | currency}}</div>
			</h3>

			<div><img class="img-rounded" ng-show="product.image.length > 0" ng-src="{{product.image}}"></img></div>

			<button class="btn btn-danger btn-sm pull-right" ng-click="removeFromCart(product)">Remove From Cart</button>
			<button class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#checkoutModal-{{product.id}}">Checkout</button>

			<div ng-hide="product.soldOut">
				<label>Items in stock: </label>
				<b>{{product.quantity}}</b>
			</div>

			<div ng-show="product.soldOut" class="alert alert-danger">
				<strong>Sold Out!</strong> This gem has been sold out, please check back later!
			</div>

			<div ng-include="'../templates/gems/sections/checkout-modal.html'"></div>
			<div ng-include="'../templates/gems/sections/success-message.html'"></div>
			
		</div>
	</div>
</div>