<h3>
	<span editable-text="product.name" onbeforesave="updateProduct(product)">{{product.name}}</span> 
	<div class="pull-right">
		<span editable-text="product.price" onbeforesave="updateProduct(product)">{{product.price | currency}}</span>
	</div>
</h3>

<div><img class="img-rounded" ng-show="product.image.length > 0" ng-src="{{product.image}}"></img></div>

<div ng-hide="product.soldOut">
	<label>Quantity: </label>
	<b editable-text="product.quantity" onbeforesave="updateProduct(product)">{{product.quantity}}</b>
</div>

<div ng-show="product.soldOut" class="alert alert-danger">
  <strong>Sold Out!</strong> This gem has been sold out, please check back later!
</div>