<div ng-controller="TabController">
	<ul class="nav nav-pills nav-justified">
		<li ng-click="setGemTab(1)" ng-class="{ active : isGemTab(1) }" class="panel panel-heading">
			<a href>Description</a>
		</li>
		<li ng-click="setGemTab(2)" ng-class="{ active : isGemTab(2) }" class="panel panel-heading">
			<a href>Specifications</a>
		</li>
		<li ng-click="setGemTab(3)" ng-class="{ active : isGemTab(3) }" class="panel panel-heading">
			<a href>Reviews</a>
		</li>
	</ul>

	<div ng-show="isGemTab(1)" class="panel panel-body" editable-textarea="product.description" e-rows="4" e-cols="130" onbeforesave="updateProduct(product)">{{product.description}}</div>
	<div ng-show="isGemTab(2)" class="panel panel-body" editable-textarea="product.specifications" e-rows="4" e-cols="130" onbeforesave="updateProduct(product)">{{product.specifications}}</div>
	<div ng-show="isGemTab(3)" class="panel pabel-body">
		<div ng-include="'../templates/gems/reviews/add-review.html'"></div>
	</div>
</div>