<ul class="nav nav-pills nav-justified">
	<li ng-click="panelCtrl.setTab(1)" ng-class="{ active : panelCtrl.isTab(1) }" class="panel panel-heading">
		<a href>Description</a>
	</li>
	<li ng-click="panelCtrl.setTab(2)" ng-class="{ active : panelCtrl.isTab(2) }" class="panel panel-heading">
		<a href>Specifications</a>
	</li>
	<li ng-click="panelCtrl.setTab(3)" ng-class="{ active : panelCtrl.isTab(3) }" class="panel panel-heading">
		<a href>Reviews</a>
	</li>
</ul>

<div ng-show="panelCtrl.isTab(1)" class="panel panel-body">{{product.description}}</div>
<div ng-show="panelCtrl.isTab(2)" class="panel panel-body" ng-if="product.specifications.length === 0">None Yet</div>
<div ng-show="panelCtrl.isTab(3)" class="panel pabel-body">
	<product-review></product-review>
	<review-form></review-form>
</div>