<nav class="navbar navbar-inverse">
	<div class="container-fluid" ng-controller="TabController">
		<ul class="nav navbar-nav">
			<li ng-click="setTab(1)" ng-class="{ active:isTab(1) }"><a href="#/">Home</a></li>
			<li ng-click="setTab(2)" ng-class="{ active:isTab(2) }"><a href="#/gems">All Gems</a></li>
			<li ng-click="setTab(3)" ng-class="{ active:isTab(3) }"><a href="#/addNewGem">Add New Gem</a></li>
			<li ng-click="setTab(4)" ng-class="{ active:isTab(4) }"><a href="#/cart">Shopping Cart</a></li>
		</ul>
	</div>
</nav>