/*
* CSS for Gem Store
* Custom css to override or add additional features to Bootstrap
*/

.ng-invalid.ng-dirty{
	border-color: red;
}

.ng-valid.ng-dirty{
	border-color: green;
}

.floating-message {
	position: fixed;
	top: 5%;
	left: 25%;
	width: 50%;	
}

.btn {
	margin-left: 5px;
	margin-right: 5px;
}

#loading-spinner {  
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:white;
    opacity: .8;
 }

.ajax-loader {
    position: fixed;
    left: 40%;
    top: 30%;
    display: block;     
}