/*
* CSS for Gem Store
* Custom css to override or add additional features to Bootstrap
*/

.ng-invalid.ng-dirty{
	border-color: red;
}

.ng-valid.ng-dirty{
	border-color: green;
}

.floating-message {
	position: fixed;
	top: 5%;
	left: 25%;
	width: 50%;	
}